<header class="navbar-dash has-background-primary has-text-light">
  <div class="navbar-brand">
    <div class="navbar-item">
      <div class="toggle-menu has-text-light">
        <i class="mdi mdi-menu mdi-24px" ></i>
      </div>  
      <a routerLink="/dashboard" class="navbar-item">
        <img src="./assets/img/admin/logo-dashboard.png" alt="Dashboard">
      </a>
    </div>  
   
  </div>
  <div class="navbar-left">
    <a href="#" class="item has-text-light">
      <span class="badge" data-badge="0">
        <i class="mdi mdi-bell mdi-24px"></i>
      </span>
    </a>
    <a class="item has-text-light" >
      <span class="badge" data-badge="0">
        <i class="mdi mdi-email mdi-24px"></i>
      </span>
    </a>
    <a class="item has-text-light">
      <i class="mdi mdi-magnify mdi-24px"></i>      
    </a>
    <a class="item has-text-light is-hidden-touch">
      <i class="mdi mdi-settings mdi-24px"></i>      
    </a>
  </div>

</header>
