<aside class="menu">
    <p class="menu-label padding-small-all">
        General
    </p>
    <ul class="menu-list">
        <li>
            <a routerLink="/dashboard" routerLinkActive="is-active" class="item">
                <i class="mdi mdi-view-dashboard mdi-24px"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a routerLink="/tiendas" routerLinkActive="is-active" class="item">
                <i class="mdi mdi-store mdi-24px"></i>
                Tiendas
            </a>
        </li>
    </ul>
    
</aside>