<div class="container"> 
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
        <div class="card margin-small">
          <div class="card-content">
            <p class="title is-4 has-text-centered">Iniciar sesión</p>
            <p class="subtitle is-6 has-text-centered">Ingresa para comprar o vender un productio.</p>
            
            <form action="" class="padding-small">

              <div class="field">
                <label class="label  is-normal">Correo electrónico</label>
                <div class="control has-icons-left">
                  <input class="input " type="email" required placeholder="example@mail.com">
                  <span class="icon is-small is-left">
                    <i class="mdi mdi-email mdi-24px"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Contraseña</label>
                <div class="control has-icons-left">
                  <input class="input" type="password" required placeholder="***********">
                  <span class="icon is-small is-left">
                    <i class="mdi mdi-lock mdi-24px"></i>
                  </span>
                </div>
              </div>

              <div class="field is-grouped margin-small-top">
                <div class="control level">
                  <button class="button is-primary" type="button" (click)="submit()"  >Ingresar</button>
                  
                </div>
              </div>
              <div class="is-right">
                ¿No tienes una cuenta?
                <a routerLink="/register" class=" has-text-right is-text"> Registrarse.</a>
              </div>
              <div class="is-right">
                ¿Olvidaste tu contraseña?
                <a routerLink="/register" class=" has-text-right is-text"> Recuperar contraseña.</a>
              </div>
            </form>
            <div class="is-divider" data-content="O"></div>
            <a href="" class="button is-info is-fullwidth margin-extra-small-bottom">
              <i class="mdi mdi-facebook-box mdi-24px"></i>
              Iniciar sesión con facebook
            </a>
            <a href="" class="button is-danger is-fullwidth">
              <i class="mdi mdi-google-plus-box mdi-24px"></i>
              Iniciar sesión con google
            </a>
           
          </div>
        </div>
    </div> 

    
  </div>
</div>