<div class="is-fullheight bg-white">
  <div class="container">
    <div class="level">
      <span class="level-right"> <i class="mdi mdi-phone mdi-24px"></i> (066) 623 562</span>
      <span class="level-right"><a href="">Atención al cliente</a></span>
    </div>
  </div>
</div>
<header class="navbar shadow-cm">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img src="./assets/img/logo.png" alt="Logo">
      </a>
      <span class="navbar-burger burger" data-target="navbarMenuHeroC" (onclick)="toggleOpen()">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenuHeroC" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item">
          <i class="mdi mdi-store mdi-24px"></i>
          Tienda
        </a>
        <a class="navbar-item" routerLink="/login" routerLinkActive="is-active">
          <i class="mdi mdi-account-circle mdi-24px"></i>
          Iniciar sesión
        </a>
        <a class="navbar-item">
          <span class="badge is-badge-primary is-badge-medium" data-badge="9+">
            <i class="mdi mdi-basket mdi-24px"></i>
          </span>
          S/. 00.00
        </a>
      </div>
    </div>
  </div>
</header>



