@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// Set your brand colors
$purple: #9C27B0;
$purple-dark: #7B1FA2;
$accent: #00BCD4;
$brown: #757575;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $purple-dark;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";

html, body{
    height: 100%;
}
@media screen and (max-width: 1023px){
    .toggle-menu{
        cursor: pointer;
        display: block;
    }
    .main-sidebar{
        position: absolute;
        z-index: 10;
        left: -230px;
        transition: left 1s;
    }
    .main-sidebar.is-active{
        left: 0;
    }
}
@media screen and (min-width: 1023px) {
    .toggle-menu{
        display: none;
    }
}
.main-page{
    width: 100%;
    height: 100%;
    display: flex;
    
    .main-sidebar{
        width: 230px;
        height: 100%;       
        margin-right: 5px;
    }
    
    .main-content{
        width: 100%;
    }
}

.menu-list .item {
    width: 100%;
    border-radius: 2px;
    color: #757575;
    display: block;
    padding: 1em 0.75em;
}

.navbar-dash{
    display: flex;
    width: 100%;
    align-items: center;    
    justify-content: space-between;
}

.navbar-left{
    .item{
        line-height: 1.5;
        padding: 0.5rem 0.75rem;
        position: relative;
    }
}

.bg-accent{
    background-color: $accent;
    color: white;
}

.bg-primary-dark{
    background-color: $purple-dark;
    color: white !important;
}

.bg-white{
    background-color: #fff;
}

.hero-img{
    background: url('./assets/img/hero.jpg') center center;
    background-size: cover;
}


.margin-small-top{
    margin-top: 1.5em;
}

.margin-extra-small-bottom{
    margin-bottom: 1em;
}

.margin-small{
    margin: 1.5em 0;
}

.padding-small{
    padding: 1em 0;
}

.padding-small-all{
    padding: 0.75em;
}



.shadow-cm {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}